<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
layout:decorator="layout/default">  
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Csv文件管理</title> 
<!-- Bootstrap -->
<link href="../../static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
 <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
   <script src="../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
   <script type="text/javascript">

		function checkSubmitWithClass(){
			var t_textNode = document.getElementById("t_text");
			var c_textNode = document.getElementById("c_text");
			var fileNode = document.getElementById("file");
			if (fileNode.value == "" || fileNode.value == null ){
				alert("没有指定上传文件");
				return false;
			}
			if (t_textNode.value == "" || t_textNode == null){
				alert("没有指定文件在数据库中生成的表名");
				return false;
			}
			if (c_textNode.value == "" || c_textNode == null){
				alert("没有指定文件数据封装的类名");
				return false;
			}
			return true;
		}
   </script>
</head> 
 
<body>  
	<div class="row" layout:fragment="content">  
		<h2 class="indigo-text center">文件上传</h2>  
		<form th:action="@{/upload}" method="post" enctype="multipart/form-data" class="col m8 s12 offset-m2">  
		
			<div class="input-field col s6">  
				<input type="file" id="file" name="file"/>  
			</div>  
			<div>
			</div>
			<div class="col s6 center">  
				<button class="btn indigo waves-effect waves-light" type="submit" name="save" th:text="#{submit}" onclick="return checkSubmitWithClass()">
					生成相应表格<i class="mdi-content-send right"></i>  
				</button>  
			</div>  
		</form>  
	</div>  
	
	<div>
		<table>
			<tr>
				<th width="200px">表名</th>
			</tr>
			
			<tr>
				<td>something</td>
			</tr>
		</table>
	</div>
	<div>
		<button value="编辑" onclick="">编辑</button>
		<button value="删除" onclick="">删除</button>
	</div>
</body>  

</html> 