<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Footer</title>

	<!-- bootstrap -->
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" 
        th:href="@{/bootstrap/3.3.5/css/bootstrap.min.css}" />

    <style type="text/css"> 
        body{
            font-family:微软雅黑;
            font-size:14px;
        }
    </style>    
</head>
<body>
	<footer th:fragment="footer">
	   All rights reserved @wj.
	</footer>
</body>
</html>