<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Header</title>
</head>
<body>
    <div th:fragment="topnav">
    <nav class="navbar navbar-default" style="background: none repeat scroll 0 0 #394755;color:#fff;height:60px;">


       <!-- 退出 -->       
       <a class="navbar-brand" href="#" style="color:#fff;float:right;" onclick="javascript:safeLogoutFun();">退出</a>
       </nav>
       </div>

	<header th:fragment="header">
		<span>
			<a href="">注册</a>
			<a href="">登陆</a>
		</span><br>
		<span>
			<a href="">用户名</a>
			<a href="">退出</a>
		</span>
	</header>
</body>
</html>